{% extends 'home.html' %}
{% block content %}
    {#{ req_pass }#}
    <b>Номер пропуска</b>: {{ req_pass.0.id }} <br>
   <b>ФИО посетителя</b>: {{ req_pass.0.visitor__FIO }} <br>
   <b>Номер пасспорта</b>: {{ req_pass.0.visitor__document }} <br>
   <b>Организация посетителя</b>: {{ req_pass.0.visitor__organization }} <br>
   <b>Сопровождающий</b>: {{ req_pass.0.escort__FIO }} <br>
   <b>Отдел</b>: {{ req_pass.0.escort__department__name }} <br>
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
        <tr>

            <th scope="col">Время прохождения</th>
            <th scope="col">Место</th>

        </tr>
        </thead>
    </table>
    <script>
        var table = $('#example').DataTable({
            responsive: true,
            buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
            layout: {
                bottom1: 'searchBuilder',
                topStart: 'buttons',
            },
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.6/i18n/ru.json',
            },
            ajax: {
                url: "{% url 'load_data_to_pass_view' %}?pk=pass_id",
                dataSrc: "",
            },
            columns: [

                {data: "_time"},

                {data: "location__location_name"},



            ],
            select: true,
        });
        table.buttons().container()
            .appendTo($('.col-sm-6:eq(0)', table.table().container()));
    </script>

{% endblock %}